@use '../../../../_styles/palette';

.button {
  padding: 1rem;  
  border: 2px solid #ff5b4d; 
  border-radius: 2rem;

  &--solid {
    color: white;
    background-color: #ff5b4d; 
  }

  &--outline {
    color: black;
    background-color: transparent; 
  }
}
