.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(8px);

  &__left-actions {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
  }

  &__right-actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;
    margin-right: 2rem;
  }
}
