.search-bar {
  display: flex;
  align-items: center;

  &__input-bar {
    margin: 0 auto;
    margin-top: 2rem;
    min-width: 40vw;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 0.8rem;
  }
}
