.product-list-item{
  height: 40%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #d2d2d2;
  border-radius: 1rem;
  background-color: #f2f2f2;
  transition: transform 0.3s ease;
}

.product-img{
  margin: 0.5rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-text{
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Poppins';
}

.product-text-price{
  margin: 0;
  font-size: 15px;
  font-weight:bolder;
}

.product-text-name{
  margin: 0;
  font-size: 12px;
  white-space: nowrap;      
  overflow: hidden;         
  text-overflow: ellipsis; 
}

.product-list-item:hover{
  transform: scale(1.1);
}
